@page
@model CraftX.Pages.UserManagement.UserManagementModel

@{
    ViewData["Title"] = "Index";
}

@* <div id="layoutSidenav_content">
    <main> *@
        <div class="container-fluid px-4">
            <h1 class="mt-4">사용자</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">사용자</li>
            </ol>
            <div class="card mb-4 shadow">
                <div class="card-body">
                    DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                    <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                    .
                </div>
            </div>
            <div class="card mb-4 shadow">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <span class="text-center">
                        <i class="fas fa-table me-1"></i>
                        사용자 관리
                    </span>
                    <div class="float-end">
                        <a class="btn btn-primary btn-sm" asp-page="UserManagementCreate">Create New</a>
                    </div>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>닉네임</th>
                                <th>이메일</th>
                                <th>가입 날짜</th>
                                <th>권한</th>
                                <th>수정/삭제</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>번호</th>
                                <th>닉네임</th>
                                <th>이메일</th>
                                <th>가입 날짜</th>
                                <th>권한</th>
                                <th>수정/삭제</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model.Users)
                            {
                                <tr>
                                    <td>
                                        @item.RowNumber
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NICKNAME)
                                        @* @item.NICKNAME *@
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EMAIL)
                                    </td>
                                    @* <td>
                                        @Html.DisplayFor(modelItem => item.PASSWORD)
                                    </td> *@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JOINDATE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.USERAUTH)
                                    </td>
                                    @*<td>
                                @Html.DisplayFor(modelItem => item.PROFILEPICTUREPATH)
                                </td> *@
                                    <td>
                                        <a asp-page="./UserManagementEdit" asp-route-id="@item.USERID">Edit</a> |
                                        <a asp-page="./UserManagementDetails" asp-route-id="@item.USERID">Details</a> |
                                        <a asp-page="./UserManagementDelete" asp-route-id="@item.USERID">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
   @*  </main> *@
@*     <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2023</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer> *@
@* </div> *@

@* <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="~/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="~/js/datatables-simple-demo.js"></script> *@