@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid px-4 text-center">
    <h1 class="display-4 mt-4">Welcome 품질 관리</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<style>
    .box-container {
        display: flex;
        flex-wrap: wrap;
        float:left;
        width: 444px;
        height: 444px;
        border:1px solid black;
    }
    .box{
        width: 200px;
        height: 200px;
        border: 1px solid black;
        margin:10px;
    }
</style>
@* <div class="container-fluid px-4 text-center">
    <div class="box-container">
        <div class="box">공지사항</div>
        <div class="box">게시판</div>
        <div class="box">그래프1</div>
        <div class="box">그래프2</div>
    </div>
</div> *@
<div class="container-fluid px-4">
    @* <h1 class="mt-4">사용자</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">사용자</li>
    </ol>
    <div class="card mb-4 shadow">
        <div class="card-body">
            DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
            <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
            .
        </div>
    </div> *@
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4 shadow">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <span class="text-center">
                        <i class="fas fa-chart-area me-1"></i>
                        공지사항
                    </span>
                    @* <div class="float-end">
                        <a class="btn btn-primary btn-sm" asp-page="UserManagementCreate">Create New</a>
                    </div> *@
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>날짜</th>
                                <th>작성자</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>날짜</th>
                                <th>작성자</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model.InternalMemos)
                            {
                                <tr>
                                    <td>
                                        @item.RowNumber
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                        @* @item.NICKNAME *@
                                    </td>
                                    @* <td>
                                    @Html.DisplayFor(modelItem => item.Content)
                                    </td> *@
                                    @* <td> --시간까지 나오네;
                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                    </td> *@
                                    <td>@item.CreatedDate.ToString("yyyy.MM.dd")</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Writer)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card mb-4 shadow">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Bar Chart Example
                </div>
                <div class="card-body"><canvas id="myBarChart" width="100%" height="40px"></canvas></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid px-4">
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4 shadow">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    공지사항
                    <div class="float-end">
                        <a class="" href="#" style="text-decoration-line: none;">+더 보기</a>
                    </div>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple2">
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>날짜</th>
                                <th>작성자</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>날짜</th>
                                <th>작성자</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model.InternalMemos)
                            {
                                <tr>
                                    <td>
                                        @item.RowNumber
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                        @* @item.NICKNAME *@
                                    </td>
                                    @* <td>
                                        @Html.DisplayFor(modelItem => item.Content)
                                    </td> *@
                                    @* <td>
                                        @Html.DisplayFor(modelItem => item.CreatedDate.ToString("yyyy.MM.dd"))
                                    </td> *@
                                    <td>@item.CreatedDate.ToString("yyyy.MM.dd")</td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Writer)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card mb-4 shadow">
                <div class="card-header">
                    <i class="fa-solid fa-chart-column"></i>
                    부적합율 (JSON으로 가져오기)
                </div>
                <div class="card-body"><canvas id="defectRateBarChart" width="100%" height="40px"></canvas></div>
            </div>
        </div>
    </div>
</div>
